<tr>
	<th scope="row"><%-num%></th>
	<td><input class="form-control" name="file-name"></td>
	<td><textarea class="form-control text-area" name="file-description"></textarea></td>
	<td><input class="form-control" type="file" name="file-upload"></td>
</tr>