<tr>
	<th scope="row"><%-num%></th>
	<td><input class="form-control" name="file_name"></td>
	<td><textarea class="form-control text-area" name="file_description"></textarea></td>
	<td><input class="form-control" type="file" name="file_upload"></td>
</tr>