<div class="grid-item">
	<div class="card" style="margin:0.5rem; width:18rem;">
		<div class="card-body">
			<h5 class="card-title">
				<%=project.project_name%>
			</h5>
			<!-- <p class="card-text">Insert Description here</p> -->
			<a class="btn btn-primary" href=<%=`/project/${project._id}`%>>More...</a>
		</div>
	</div>
</div>