div {
	border-style: solid;
	border-width: medium;
	border-color: yellowgreen;

	padding: 5px;
	margin: 5px;
}

table,
tr,
th,
td {
	border-style: solid;
	border-width: medium;
	border-color: violet;

	padding: 5px;
	margin: 5px;
}
