<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
		<title>Makerspace Project Form</title>
		<script src="form.js"></script>
</head>

<body>
	<header>
		<%- include('../partials/header'); %>
	</header>

	<main>
		<div class="container">
			<hr>
			<h1>Submit new Project</h1>
			<hr>

			<form id="form" action="/api/form" method="POST" enctype="multipart/form-data">
				<label class="form-label" for="project_name">Project Name</label>
				<div class="mb-3">
					<input class="form-control" id="project_name" name="project_name">
				</div>

				<label class="form-label" for="project_source">Project Source</label>
				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon3">https://www.thingiverse.com/thing:</span>
					<input class="form-control" id="project_source" name="project_source">
				</div>

				<label class="form-label" for="attributions">Attributions</label>
				<div class="mb-3">
					<input class="form-control" id="attributions" name="attributions" placeholder="cc, sharealike">
				</div>

				<div class="container border mb-3 p-3">
					<h2>Project Files</h2>
					<table class="files" id="files">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">File Name</th>
								<th scope="col">File Description</th>
								<th scope="col">File Upload</th>
							</tr>
						</thead>
						<tbody>
							<%- include('../partials/form-file', {num:1}); %>
						</tbody>
					</table>
					<button type="button" id="add-file" class="btn btn-primary">Add File</button>
				</div>

				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</main>

	<footer>
		<%- include('../partials/footer'); %>
	</footer>
</body>

</html>