<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
	<title>Makerspace</title>
</head>

<body>
	<header>
		<%- include('../partials/header'); %>
	</header>

	<main class="container-fluid">
		<h1>Makerspace</h1>
	</main>

	<footer>
		<%- include('../partials/footer'); %>
	</footer>
</body>

</html>