<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
	<title>Projects</title>
	<script>
		$('.grid').masonry({
			itemSelector: '.grid-item',
			columnWidth: 200
		});
	</script>
</head>

<body>
	<header>
		<%- include('../partials/header'); %>
	</header>

	<main>
		<h1>Projects</h1>
		<div class="grid" data-masonry='{"percentPosition": true }'>
			<% projects.forEach(project=> { %>
				<%- include('../partials/project_card', {project:project}); %>
					<%});%>
		</div>
	</main>

	<footer>
		<%- include('../partials/footer'); %>
	</footer>
</body>

</html>